@import './palette.scss';
@import './mixin.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin basem {
    html {
        font-size: ($vm_fontsize / ($vm_design)) * 100vw;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        height: 100%;
    }
}
html,body {
    font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC",
    "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti,
    sans-serif;
    @include font-size(16px);
    background: $color-paper 0 0;
    height: 100%;
    line-height: initial !important;
}

.container{
    position: relative;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button,
input,
select {
    outline: none;
}

input {
    border: none;
}
.icon, .iconfont{
    font-family:"iconfont" !important;
    font-size: 1em;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
