* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 1260px;
    font-family: "Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
    font: 16px;
    background: #fff1e5 0 0;
  }
  
  ul,
  ol,
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button,
  input,
  select {
    outline: none;
  }
  
  input {
    border: none;
  }
  
  .icon, .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  
  }