@import './mixin.scss';
@import './palette.scss';
.footer{
    background-color: $color-block;
    color: $color-white;
    border-top: 5px solid $color-border;
    padding: 15px 30px;

    .list{
        display: block;
        padding: 10px 20px;
        a{
            display: block;
            padding: 0 20px 15px 0;
            float: left;
            color: $color-white;
        }
    }
    .present{
        display: block;
        padding-left: 20px;
        @include font-size(14px);

        p{
            float: left;
            padding: 0 30px 10px 0;;
        }
    }

    @include bp-middle{
        .list{
            display: block;
            padding: 10px 20px;
            a{
                display: block;
                padding: 0 20px 15px 0;
                width: 50%;
                float: left;
                color: $color-white;
            }
        }
    }

    @include bp-small {
        .list{
            display: block;
            padding: 10px 20px;
            a{
                display: block;
                padding: 0 30px 15px 0;
                width: 50%;
                float: left;
                color: $color-white;
            }
        }
    }
}

