@import './mixin.scss';
@import './palette.scss';

.header{
    flex: 0 0 auto;
    height: 56px;
    width: 100%;
    background-color: $color-block;
    h2{
        display: block;
        height: 56px;
        line-height: 56px;
        padding: 0 30px;
        font-size: pxToRem(18px);
        max-width: 100%;
        font-weight: 700;
        text-align: center;
        color: $color-white;
      
    }
}

