@import './mixin.scss';
@import './palette.scss';

.header{
    background-color: $color-header-bg;
    h2{
        display: block;
        height: 56px;
        line-height: 56px;
        padding: 0 30px;
        font-size: pxToRem(20px);
        max-width: 100%;
        font-weight: 700;
        text-align: center;
        color: $color-white;
        background-color: $color-block;
    }
    .banner{
        width: 80%;
        margin: 0 auto;
        padding-bottom:20px;
        .words{
            display: block;
            float: left;
            text-align: left;
            width: 60%;
            padding:30px;

            .strong{
                padding: 10px 0;
                font-weight: 700;
            }
        }
        .images{
            display: block;
            float: right;
            width: 380px;
            height: 214px;
            background: url(https://www.ftacademy.cn/subscription.jpg) no-repeat;
            background-size: contain;
        }
        @include bp-large{
            .words{
                display: block;
                float: left;
                text-align: left;
                width: 50%;
                padding:30px;
            }
            .images{
                display: block;
                float: right;
                width: 380px;
                height: 214px;
                background: url(https://www.ftacademy.cn/subscription.jpg) no-repeat;
                background-size: contain;
            }
        }

        @include bp-middle {
            .words{
                display: block;
                float: left;
                text-align: left;
                width: 60%;
                padding:30px;
            }
            .images{
                display: block;
                margin-top: 20px;
                float: right;
                width: 190px;
                height: 107px;
                background: url(https://www.ftacademy.cn/subscription.jpg) no-repeat;
                background-size: contain;
            }
        }

        @include bp-small {
            .words{
                display: block;
                text-align: left;
                width: 100%;
                padding: 0 !important;
            }
            .images{
                display: block;
                width: 100%;
                height: 160px;
                background: url(https://www.ftacademy.cn/subscription.jpg) no-repeat;
                background-size: contain;
            }
        }
    }
}

