@import './mixin.scss';
@import './palette.scss';
@import './common.scss';
.main{
    width: 100%;
    position: relative;
    overflow: hidden;
    .container{
        .sort{
            width: inherit;
            margin:20px 0;
            .sortName{
                margin: 10px 80px;
                display: flex;
                justify-content: space-between;
                li{
                    flex: 1;
                    flex-shrink: 0;
                    text-align: center;
                    background: $color-white;
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 20px;
                    padding: 15px 10px;
                    cursor: pointer;
                    color: $color-blue;
                }
                li:hover{
                    background-color: $color-block;
                    color: $color-white;
                }
            }
        }

        .main-content{
            width: inherit;
            .content{
                margin:10px 80px 30px 90px;
                padding-top: 30px;
                background-color: $color-white;
                overflow:hidden;

                .el-steps{
                    width: inherit;
                    height: 40px;
                }
                .el-step.is-vertical .el-step__title {
                    padding-bottom: 80px !important;
                    line-height: 33px !important;
                }
                .reveal{
                    margin:10px 60px 30px 60px;
                    margin-top: 30px;
                    width: inherit;
                    position: relative;

                    .step{
                        width: inherit;
                        text-align: center;
                        &.active1{
                            h2{
                                margin-top: 100px;
                                text-align: center;
                                font-size: 1.2em;
                                font-weight: 700;
                                a{
                                    color: $color-blue;
                                }
                            }
                        }
                        .stencil {
                            width: inherit;
                            text-align: start;
                            margin: 10px;

                            h2{
                                font-size: 1.25em;
                                font-weight: 700;
                                line-height: 1.2;
                                padding-bottom: .3em;
                            }
                            h3{
                                font-size: 1em;
                                font-weight: 700;
                                line-height: 1.25;
                                padding-bottom: 10px;
                            }
                            ol{
                                padding-left: 18px;
                                li{
                                    list-style-type: decimal;
                                    font-size: 16px;
                                    padding-bottom: 10px;
    
                                    a,span{
                                        color: $color-blue;
                                    }
                                }
                                &.list-style-desc{
                                    li{
                                        list-style-type: disc;

                                        a,span{
                                            color: $color-blue;
                                        }
                                    }
                                }
                                &.list-style-none{
                                    li{
                                        list-style-type: none;

                                        a,span{
                                            color: $color-blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                   .btn{
                       margin: 50px 0 20px 0;
                       width: inherit;
                       text-align: center;

                       .el-button{
                           background-color: $color-blue;
                           color: $color-white;
                           font-size: 20px;
                           border-color: $color-blue;

                           &.pre{
                                margin-right: 10px;
                           }
                       }
                   }
                }
                .message-form{
                    margin:30px auto;
                    width: 70%;

                    .enterDesc{
                        width: 80%;
                        border-color: $color-border !important;
                    }
                    .prompt{
                        display: block;
                        width:80%;
                    }
                    .customerService{
                        width: 30%;
                    }
                    .el-button--primary {
                        background-color: $color-blue;
                        color: $color-white;
                        border-color: $color-blue;
                        padding: 15px 30px;
                    }
                    .el-button--default{
                        background-color: $color-white;
                        color: $color-block;
                        padding: 15px 30px;
                    }
                    .el-upload-list__item{
                        width: 80% !important;
                    }
                }
            }
        }
    }
    @include bp-large {
        .el-upload-dragger{
            width: 320px !important;
    
            .el-icon-upload{
                font-size: 50px !important;
            }
        }
    }
    @include bp-middle {
        .prompt{
            display: block;
            width:80%;
        }
        .el-upload-dragger{
            width: 320px !important;
    
            .el-icon-upload{
                font-size: 50px !important;
            }
        }
    }
    @include bp-small {
        .sortName{
            margin: 0 10px 20px 10px !important;
            display: flex;
            justify-content: space-between;
            li{
                flex: 1;
                flex-shrink: 0;
                text-align: center;
                background: $color-white;
                margin-left: 10px;
                font-weight: 500;
                font-size: 14px;
                padding: 15px 10px;
                cursor: pointer;
                color: $color-blue;
            }
            li:hover{
                background-color: $color-block;
                color: $color-white;
            }
        }
        .content{
            margin: 0 10px 20px 10px !important;
            padding-top: 30px;
            background-color: $color-white;
            overflow:hidden;
            .reveal{
                margin: 20px 10px !important;
                margin-top: 30px;
                width: inherit;
                position: relative;
            }
            .message-form{
                margin:initial !important;
                width: 100% !important;
                .enterDesc{
                    width: 80%;
                    border-color: $color-border !important;
                }
                .prompt{
                    display: block;
                    width:80%;
                }
                .customerService{
                    width: 30%;
                }
                .el-button--primary {
                    background-color: $color-blue;
                    color: $color-white;
                    border-color: $color-blue;
                    padding: 15px 30px;
                }
                .el-button--default{
                    background-color: $color-white;
                    color: $color-block;
                    padding: 15px 30px;
                }
                .el-upload-dragger{
                    width: 190px !important;
                    .el-icon-upload{
                        font-size: 50px !important;
                    }
                    .el-upload__text{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

