@import './mixin.scss';
@import './palette.scss';
.main{
    width: 100%;
    height: 100vh;
    .container{
        &.middle{
            .sort{
                width: inherit;
                margin:20px 0;
                .sortName{
                    margin: 10px 80px;
                    display: flex;
                    justify-content: space-between;
                    .active{
                        background-color: $color-block;
                        color: $color-white;
                    }
                    li{
                        flex: 1;
                        flex-shrink: 0;
                        text-align: center;
                        background: $color-white;
                        margin-left: 10px;
                        font-weight: 500;
                        font-size: pxToRem(18px);
                        padding: 15px 10px;
                        cursor: pointer;
                        color: $color-blue;
                    }
                }
            }
            .main-content{
                width: inherit;
                .content{
                    margin:10px 80px 30px 90px;
                    padding: 20px 30px;
                    background-color: $color-white;
                    min-height: 800px;

                    .el-steps{
                        width: inherit;
                        height: 40px;
                        margin-bottom: 30px;
                    }
                    .el-step.is-vertical .el-step__title {
                        padding-bottom: 80px !important;
                        line-height: 33px !important;
                    }
                    .reveal{
                        padding: 10px 30px;
                        width: inherit;
                        position: relative;

                        .step{
                            text-align: center;
                            margin-left: 100px;
                            &.active1{
                                margin-left: initial !important;
                                h2{
                                    margin-top: 100px;
                                    text-align: center;
                                    font-size: pxToRem(18px);
                                    font-weight: 700;
                                    a{
                                        color: $color-blue;
                                    }
                                }
                            }
                            .stencil {
                                width: inherit;
                                text-align: start;
                                margin: 10px;

                                h2{
                                    font-size: pxToRem(18px);
                                    font-weight: 700;
                                    line-height: 1.2;
                                    padding-bottom: .3em;
                                }
                                h3{
                                    font-size: pxToRem(17px);
                                    font-weight: 700;
                                    line-height: 1.25;
                                    padding-bottom: 10px;
                                }
                                ol{
                                    padding-left: 18px;
                                    li{
                                        list-style-type: decimal;
                                        font-size: pxToRem(16px);
                                        padding-bottom: 10px;
        
                                        a,span{
                                            color: $color-blue;
                                        }
                                    }
                                    &.list-style-desc{
                                        li{
                                            list-style-type: disc;

                                            a,span{
                                                color: $color-blue;
                                            }
                                        }
                                    }
                                    &.list-style-none{
                                        li{
                                            list-style-type: none;

                                            a,span{
                                                color: $color-blue;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    .btn{
                        margin: 50px 0 20px 0;
                        width: inherit;
                        text-align: center;

                        .el-button{
                            background-color: $color-blue;
                            color: $color-white;
                            font-size: pxToRem(20px);
                            border-color: $color-blue;

                            &.pre{
                                    margin-right: 10px;
                            }
                        }
                    }
                    }
                    .message-form{
                        margin:30px auto;
                        width: 70%;
                        
                        .el-form-item__label:before {
                            content: '*';
                            color: #F56C6C;
                            margin-right: 4px;
                        }

                        .enterDesc{
                            width: 80%;
                            border-color: $color-border !important;
                        }
                        .prompt{
                            display: block;
                            width:80%;
                            font-size: pxToRem(12px) !important;
                        }
                        .customerService{
                            width: 30%;
                        }
                        .btnModel{
                            text-align: center !important;
                            margin-left: initial !important;
                        }
                        .el-button--primary {
                            background-color: $color-blue;
                            color: $color-white;
                            border-color: $color-blue;
                            padding: 15px 30px;
                        }
                        .el-button--default{
                            background-color: $color-white;
                            color: $color-block;
                            padding: 15px 30px;
                        }
                        .el-upload-list__item{
                            width: 80% !important;
                        }
                    }
                    .search{
                        margin: 20px auto;
                        width: 90%;
                        height: 100px;
                        line-height: 100px;

                        .el-input{
                            display: inline-block;
                            width: 50%;
                        }
                        .el-button{
                            display: inline-block;
                            margin-left: 20px;
                            background-color: $color-blue;
                            color: $color-white;
                            font-size: pxToRem(16px);

                            i{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include bp-large {
        .content{
            margin:10px 80px 30px 90px;
            padding: 50px 30px !important;
            background-color: $color-white;
            .el-steps{
                width: inherit;
                height: 40px;
                margin-bottom: 30px !important; 
            }
            .reveal{
                padding: 10px 30px;
                width: inherit;
                position: relative;

                .step{
                    text-align: center;
                    margin-left: 60px !important;
                    &.active1{
                        margin-left: initial !important;
                    }
                }
            }
            .message-form{
                margin:30px auto !important;
                width: 80% !important;

                .el-upload-dragger{
                    width: 320px !important;
            
                    .el-icon-upload{
                        font-size: 50px !important;
                    }
                }
                .btnModel{
                    text-align: center !important;
                    margin-left: initial !important;
                }
            }
        }
    }
    @include bp-middle {
        .reveal{
            padding: 10px 30px;
            width: inherit;
            position: relative;

            .step{
                text-align: center;
                margin-left: 20px !important;
                &.active1{
                    margin-left: initial !important;
                }
            }
        }
        .message-form{
            margin:30px auto !important;
            width: 85% !important;
            .enterDesc{
                width: 80%;
                border-color: $color-border !important;
            }
            .prompt{
                display: block;
                width:80%;
            }
            .customerService{
                width: 30%;
            }
            .btnModel{
                text-align: center !important;
                margin-left: initial !important;
            }
            .el-button--primary {
                background-color: $color-blue;
                color: $color-white;
                border-color: $color-blue;
                padding: 15px 30px;
            }
            .el-button--default{
                background-color: $color-white;
                color: $color-block;
                padding: 15px 30px;
            }
            .el-upload-dragger{
                width: 320px !important;
        
                .el-icon-upload{
                    font-size: 50px !important;
                }
            }
        }
    }
    @include bp-small {
        .sortName{
            margin: 0 10px 20px 10px !important;
            display: flex;
            justify-content: space-between;
            li{
                flex: 1;
                flex-shrink: 0;
                text-align: center;
                background: $color-white;
                margin-left: 10px;
                font-weight: 500;
                padding: 15px 10px;
                cursor: pointer;
                color: $color-blue;
            }
            li:hover{
                background-color: $color-block;
                color: $color-white;
            }
        }
        .content{
            margin: 0 10px 20px 10px !important;
            padding:20px 5px !important;
            background-color: $color-white;
            overflow:hidden;
            .reveal{
                padding: 10px 20px !important;
                width: inherit;
                position: relative;
    
                .step{
                    text-align: center;
                    margin-left: 0 !important;
                    &.active1{
                        margin-left: initial !important;
                    }
                }
            }
            .message-form{
                margin:initial !important;
                width: 100% !important;
                .enterDesc{
                    width: 80%;
                    border-color: $color-border !important;
                }
                .prompt{
                    display: block;
                    width:80%;
                }
                .customerService{
                    width: 30%;
                }
                .btnModel{
                    text-align: center !important;
                    margin-left: initial !important;
                }
                .el-button--primary {
                    background-color: $color-blue;
                    color: $color-white;
                    border-color: $color-blue;
                    padding: 15px 30px;
                }
                .el-button--default{
                    background-color: $color-white;
                    color: $color-block;
                    padding: 15px 30px;
                }
                .el-upload-dragger{
                    width: 190px !important;
                    .el-icon-upload{
                        font-size: 50px !important;
                    }
                    .el-upload__text{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
    @include bp-xs {
        .sortName{
            margin: 0 10px 20px 10px !important;
            display: flex;
            justify-content: space-between;
            li{
                flex: 1;
                flex-shrink: 0;
                text-align: center;
                background: $color-white;
                margin-left: 10px;
                font-weight: 500;
                padding: 15px 10px;
                cursor: pointer;
                color: $color-blue;
                font-size: pxToRem(14px) !important;
            }
            li:hover{
                background-color: $color-block;
                color: $color-white;
            }
        }
        .content{
            margin: 0 10px 20px 10px !important;
            background-color: $color-white;
            overflow:hidden;

            .el-step__title{
                font-size: pxToRem(12px) !important;
            }
            .reveal{
                padding: 0 !important;
                width: inherit;
                position: relative;
                .step{
                    text-align: center;
                    margin-left: 100px;
                    &.active1{
                        margin-left: initial !important;
                        h2{
                            margin-top: 100px;
                            text-align: center;
                            font-size: pxToRem(18px) !important;
                            font-weight: 700;
                            a{
                                color: $color-blue;
                            }
                        }
                    }
                    .stencil {
                        width: inherit;
                        text-align: start;
                        margin: 10px;

                        h2{
                            font-size: pxToRem(18px) !important;
                            font-weight: 700;
                            line-height: 1.2;
                            padding-bottom: .3em;
                        }
                        h3{
                            font-size: pxToRem(16px) !important;
                            font-weight: 700;
                            line-height: 1.25;
                            padding-bottom: 10px;
                        }
                        ol{
                            padding-left: 18px;
                            li{
                                list-style-type: decimal;
                                font-size: pxToRem(14px) !important;
                                padding-bottom: 10px;

                                a,span{
                                    color: $color-blue;
                                }
                            }
                            &.list-style-desc{
                                li{
                                    list-style-type: disc;

                                    a,span{
                                        color: $color-blue;
                                    }
                                }
                            }
                            &.list-style-none{
                                li{
                                    list-style-type: none;

                                    a,span{
                                        color: $color-blue;
                                    }
                                }
                            }
                        }
                    }
                }
               .btn{
                   margin: 50px 0 20px 0;
                   width: inherit;
                   text-align: center;

                   .el-button{
                       background-color: $color-blue;
                       color: $color-white;
                       font-size: pxToRem(20px);
                       border-color: $color-blue;

                       &.pre{
                            margin-right: 10px;
                       }
                   }
               }
            }
            .message-form{
                margin:initial !important;
                width: 100% !important;
                .enterDesc{
                    width: 80%;
                    border-color: $color-border !important;
                }
                .prompt{
                    display: block;
                    width:80%;
                }
                .customerService{
                    width: 30%;
                }
                .btnModel{
                    text-align: center !important;
                    margin-left: initial !important;
                }
                .el-button--primary {
                    background-color: $color-blue;
                    color: $color-white;
                    border-color: $color-blue;
                    padding: 15px !important;
                }
                .el-button--default{
                    background-color: $color-white;
                    color: $color-block;
                    padding: 15px !important;
                }
                .el-upload-dragger{
                    width: 120px !important;
                    .el-icon-upload{
                        font-size: 50px !important;
                    }
                    .el-upload__text{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

